.button{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 30px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(193, 140, 214);
    
}
.button:hover{
    filter: brightness(80%);
}

body{
    display: flex;
    justify-content: center;
}